.App .title {
  text-align: center;
  margin: 3rem;
}

.App .whose-turn {
  text-align: center;
}

.App .container {
  display: grid;
  margin: 0 auto;
  width: 30vw;
  height: 30vw;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: stretch;
  gap: 0.5rem;
  background-color: black;
  border: 0.5rem solid black;
}

.App .new-game {
  display: block;
  margin: 3rem auto;
  border: 0.2rem solid black;
}

.App .new-game:hover {
  cursor: pointer;
  background-color: orange;
  transform: scale(0.95);
}

.App .confetti {
  margin: 12rem auto;
}
